<!DOCTYPE html>
<html>
  <head>
    <title>noctulescence</title>
    <meta name="description" content="Art direction & design / Sören Naulin / Book 2020 / Ux, Ui">
    <meta charset="utf-8">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1>Hello buddies!</h1>
    <img src="assets/images/test.png" alt="Le Wagon logo">
    <%= yield %>
  </body>
</html>
